<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="layout.css" rel="stylesheet" type="text/css"></link>
    <!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
    <!--<script language="javascript" type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="../jquery-ui-1.8.4.custom.min.js"></script>-->
    <script language="javascript" type="text/javascript" src="js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.flot.stack.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.flot.selection.js"></script>
    <script language="javascript" type="text/javascript" src="js/luigi.js"></script>
<style type="text/css">

input.legendbutton
{
   font-weight:bold;
   background-color:#EEEEEE;
   border-style:none;
}
table,th,td
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid grey;
}
p {padding: 0px;}
</style>

    
</head>
<body>
<table width="800px" >
<tr>
    <td>
        <table >
        <tr>
            <td width="650px" align="center">
            <div id="placeholder" style="width:650px;height:150px;"></div>
            </td>
            <td valign="top" width="150px">
                <p class="featSel" id="features">..</p>
            </td>
        </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="center">
        <table>
        <tr>
            <td align="right">
            <div id="overview" style="width:400px;height:75px"></div>
            </td>
            <td align="left">
            <textarea id="seq_dialog" name="seq_dialog" readonly="yes" wrap="hard" cols="42" rows="3">Text Area!</textarea>
            </td>
        </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
    <p class="stackControls">
    <input type="button" name="stack_btn" id="stack_btn" value="Stacked"/>
    <input type="button" name="stggr_btn" id="stggr_btn" value="Staggered"/>
    <input type="button" name="reset_btn" id="reset_btn" value="Reset"/>
    </p>
    </td>
</tr>
</table>
<script id="source">
jQuery(function () {
    jQuery.getJSON("${dataUrl}", function(data){
                assignFetchedData(data);
                initializeGraph();
    });
    //assignDefaultData();
    //initializeGraph();    

});
</script>

 </body>
</html>
